html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: burlywood;
}

.heading {
  font-family: monospace;
  font-size: 40px;
  font-weight: 700;
}

#reset {
  padding: 4px 14px;
  background-color: darksalmon;
  font-size: 20px;
  font-weight: 600;
  border-radius: 12px;
  margin: 20px 0;
}

#reset:hover {
  background-color: lightcoral;
  transform: scale(1.1);
}

.container {
  border: 10px solid black;
  background-color: red;
  border-radius: 16px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  border: 10px solid black;
  width: 650px;
  height: 650px;
  margin: 75px;
  background-color: white;
}

#grid > div {
  border: 1px solid black;
}
